@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

nav .nav-item .nav-link {
  font-size: 15px !important;
}
.nav-link, li {
  font-size: 15px !important;
      font-weight: 400;

}

.enq-btn {
    background-color: var(--engirise-tertiary);
    color: white;
    padding: 8px 22px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
}

.hero-section {
    position: relative;
    background: radial-gradient(circle at 70% 50%, #222 0%, #000 60%);
    padding: 120px 0;
    overflow: hidden;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;
}

.hero-text p {
    color: var(--text-color);
    max-width: 450px;
}

.hero-img {
    max-height: 450px;
    filter: drop-shadow(0 30px 40px rgba(0,0,0,0.5));
}

/* Vertical Indicator */
.category-indicator {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.category-indicator ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.category-indicator ul::before {
    content: "";
    position: absolute;
    left: -15px;
    top: 0;
    width: 2px;
    height: 100%;
    background: #444;
}

.category-indicator li {
    color: var(--text-color);
    margin: 15px 0;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.category-indicator li::before {
    content: "";
    position: absolute;
    left: -19px;
    top: 50%;
    width: 8px;
    height: 8px;
    background: #555;
    border-radius: 50%;
    transform: translateY(-50%);
}

.category-indicator li.active {
    color: var(--engirise-background);
    font-weight: 600;
}

.category-indicator li.active::before {
    background: var(--engirise-background);
    box-shadow: 0 0 10px var(--engirise-background);
}


.about-section {
    padding: 100px 0;
}

.section-badge {
    background-color: #f9e4cc;
    color: var(--engirise-tertiary);
    font-size: 14px;
    padding: 6px 15px;
    border-radius: 20px;
    font-weight: 500;
}

.section-title {
    font-size: 32px;
    font-weight: 600;
    color: #222;
    line-height: 1.3;
}

.about-stat {
    color: var(--engirise-tertiary);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 5px;
}

.about-stat-text {
    color: #777;
    font-size: 14px;
}

.section-description {
    color: var(--text-color);
    line-height: 1.8;
    margin-bottom: 15px;
}


.about-btn:hover {
    background-color: var(--engirise-tertiary);
    color: var(--engirise-background);
}


.product-section {
    background-color: #FBFBFB;
    padding: 100px 0;
}

.product-img {
    max-height: 450px;
}

.explore-btn:hover {
    background: #cc6f00;
    color: var(--engirise-background);
}


.slide-count {
    font-weight: 600;
    color: var(--text-color);
}

.custom-arrow {
    width: 45px;
    height: 45px;
    background: var(--engirise-tertiary);
    border-radius: 50%;
    top: auto;
    bottom: 0;
    opacity: 1;
}

.carousel-control-prev.custom-arrow {
    right: 70px;
    left: auto;
}

.carousel-control-next.custom-arrow {
    right: 0;
}

.custom-arrow i {
    color: var(--engirise-background);
}


.contact-section {
    padding: 100px 0;
}

.contact-wrapper {
    background: url('assets/backkk.jpg') center/cover no-repeat;
    border-radius: 20px;
    padding: 80px 40px;
    position: relative;
    overflow: hidden;
}

.contact-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    z-index: 1;
}

.contact-card {
    position: relative;
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 40px 30px;
    color: #fff;
    text-align: center;
    backdrop-filter: blur(12px);
}


.icon-box {
    width: 50px;
    height: 50px;
    background: #e57c00;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

.icon-box i {
    color: #fff;
    font-size: 18px;
}

.contact-card h5 {
    font-weight: 600;
    margin-bottom: 15px;
}

.contact-card p {
    font-size: 14px;
    color: #ddd;
    margin-bottom: 20px;
}

.contact-btn {
    background: #e57c00;
    color: #fff;
    padding: 8px 20px;
    border-radius: 6px;
    font-size: 14px;
}

.brand-banner {
    padding: 50px 0;
    margin: 80px 0;
    position: relative;
    background: url('assets/Rectangle\ 82.png') center/cover no-repeat;
}

.brand-title {
    color: var(--engirise-background);
    font-size: 32px;
    font-weight: 600;
    line-height: 1.4;
}

.brand-img {
    margin-right: 90px;
    margin-top: -170px;
    max-height: 400px;
    position: relative;
    z-index: 2;
}


.vertical-text {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%) ;
    writing-mode: vertical-rl;
    font-size: 48px;
    font-weight: 700;
    color: var(--engirise-background);
    letter-spacing: 5px;
    z-index: 1;
}
